<app-nav-menu></app-nav-menu>
<main class="login-form">
  <div class="cotainer">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">Create Short Url</div>
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-1 col-form-label text-md-right">Long URL</label>
              <div class="col-md-11">
                <input type="text" class="form-control" name="email-address" required autofocus>
              </div>
            </div>
            <div class="col-md-6 offset-md-5">
              <button type="submit" class="btn btn-primary">
                Generate
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</main>

<table class="table table-bordered mt-3">
  <thead>
  <tr>
    <th width="10%">Short Url</th>
    <th width="50%">Original Url</th>
    <th width="10%">Logs</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>John</td>
    <td>Doe</td>
    <td>john@example.com</td>
  </tr>
  <tr>
    <td>Mary</td>
    <td>Moe</td>
    <td>mary@example.com</td>
  </tr>
  <tr>
    <td>July</td>
    <td>Dooley</td>
    <td>july@example.com</td>
  </tr>
  </tbody>
</table>
